.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tshirt-image {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust margin to move image slightly to the left */
}
